<!DOCTYPE html>
<html>

<head>

<title>Register</title>

</head>


<body>


<h2>Create Account</h2>


<form id="registerForm">


<input id="name" placeholder="Name">


<br>


<input id="email" placeholder="Email">


<br>


<input id="password" type="password" placeholder="Password">


<br>


<button>
Register
</button>


</form>



<script src="/js/auth.js"></script>


</body>

</html>